{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoParts - Catálogo Mayorista</title>
    <link rel="stylesheet" href="{% static 'autopart/css/estilos.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'index' %}" class="navbar-brand">AutoParts</a>
        <div class="nav-links">
            <a href="{% url 'catalogo' %}">Catálogo</a>
            <a href="{% url 'carrito' %}">Carrito de compras</a>
            <a href="{% url 'registro' %}">Iniciar Sesión</a>
        </div>
    </nav>
</body>
</html>
{% include 'autopart/base/footer.html' %}