.swal2-popup-autoparts {
  border-radius: 12px;
  border: 2px solid #0d6efd;
}
.swal2-title-autoparts {
  font-size: 1.4rem;
  color: #0d6efd;
}
.swal2-html-autoparts {
  font-size: 1rem;
  color: #212529;
}
