{% extends 'autopart/base/header.html' %}
{% load static %}
{% block title %}Iniciar Sesión - AutoParts{% endblock %}

{% block content %}


<div class="page-center">
    <div class="form-container login-box">
        <h2>Bienvenido de nuevo</h2>

        {% if form.errors %}
          <ul class="errorlist">
            {% for field in form %}
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <form method="POST" class="form-login">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-submit">Entrar</button>
        </form>
        <p class="register-link">¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>
    </div>
</div>
{% include 'autopart/base/footer.html' %}
{% endblock %}
